lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.idea
.env

pids
results
npm-debug.log
node_modules
server/controller/deal_images
server/controllers/factual.js
server/controllers/local.js
server/controllers/email_exist.js
server/controllers/lab.js
server/controllers/algolia.js
server/controllers/admin_refresh_deals.js
