<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <script src="//cdn.optimizely.com/js/2428500854.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Membership Approved - Placeful</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,300,700,100,200' rel='stylesheet' type='text/css'>
    <link href="/css/new_style.css" rel="stylesheet" type="text/css" />

    <link rel="icon" type="image/png" href="/images/favicon.png">



    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '//connect.facebook.net/en_US/fbevents.js');

        fbq('init', '619153371554592');
        fbq('track', "PageView");
    </script>
    <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=619153371554592&ev=PageView&noscript=1" />
  </noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>
    <div class="Wrapper">
        <!-- Header -->
        <div class="header" style="background-color: black;">
            <div class="InnerWrapper">
                <div class="header-content">
                    <div class="logo">
                        <a href="#">
                            <img src="http://placeful.co/images/placeful-logo-white.png" />
                        </a>
                    </div>
                    <div class="nav">
                        <!-- <ul>
              <li style="padding-right:30px;"><a href="/register">Join</a></li>
              <li><a href="/login">Sign In</a></li>
            </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End-->
        <div class="slider-data" style="width:100%;padding-left:0;text-align:center">
            <h2>Thank you!</h2>
            <p style="color:#000;">Your membership application has been approved.</p>
            <p style="color:#000;">Login below to begin creating promotions:)</p>
            <a href="/login" style="margin:0 auto;">login</a>
        </div>

    </div>


</body>

</html>