<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Membership Approved - Placeful</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');

  fbq('init', '619153371554592');
  fbq('track', 'CompleteRegistration');</script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=619153371554592&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
</head>
<body>
<div style="border: 1px solid gray;padding:10px;width:400px;margin:5% auto;font-family:sans-serif">
 <h3 style="text-align:center;">Thank you for choosing Placeful as a means to promote your business!</h3>
  <p style="text-align:center;margin-top:10%;">
    <a href="https://merchant.placeful.co/login">Login and get started with creating your first promotion</a>
  </p>
</div>
<iframe src="https://prospect.io/companies/75665e58-3253-4714-beee-fd35f107324c/tracker" width="0" height="0" style="display:none;"></iframe>
</body>
</html>
