<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="de">
<!--<![endif]-->

<head>
  <script src="//cdn.optimizely.com/js/2428500854.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reach new customers today! - DEALSBOX Merchant</title>
  <meta name="description" content="Create an offer to acquire new customers - An easy way for local bars, restaurants, spa, etc. to run deals">
  <meta name="keywords" content="living social,livingsocial merchants, groupon merchants unhappy,amazon local merchants, how do i create a groupon, how to offer a deal on groupon,groupon merchant center sign in,groupon merchant account login">
  <meta name="robots" content="index,follow">

  <!-- Start Font -->
  <link type="text/css" rel="stylesheet" href="/fonts/open-sans/stylesheet.css">
  <link type="text/css" rel="stylesheet" href="/css/font-awesome.css" />
  <!-- Font Icon Fontawesome -->
  <!-- End Font -->

  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="/css/overwrite.css" />
  <!-- Overwrite -->

  <!-- Start Owl Carousel -->
  <link type="text/css" rel="stylesheet" href="/css/owl/owl.carousel.css" />
  <link type="text/css" rel="stylesheet" href="/css/owl/owl.theme.css" />
  <link type="text/css" rel="stylesheet" href="/css/owl/owl.transitions.css" />

  <!-- Start Masonry -->
  <link type="text/css" rel="stylesheet" href="/css/masonry.css" />

  <!-- prettyPhoto -->
  <link type="text/css" rel="stylesheet" href="/css/prettyPhoto.css">

  <!-- Start Default -->
  <link type="text/css" rel="stylesheet" href="/css/icons.css" />
  <!-- Icons -->
  <link type="text/css" rel="stylesheet" href="/css/style_1.css" />
  <!-- Overwrite -->
  <link type="text/css" rel="stylesheet" href="/css/default.css" />
  <!-- Color -->
  <!-- End Default -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">

  <style>
    #animatedModal {
      width: 47%!important;
      background-color: #be3b1f!important;
    }
    
    .close-animatedModal {
      background: url(/images/closebt.svg)no-repeat;
      height: 52px;
      width: 52px;
      cursor: pointer;
    }
  </style>


  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

  <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie9.css">
    <![endif]-->
  <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="css/ie8.css">
    <![endif]-->
  <!-- Start of dealsbox Zendesk Widget script -->
  <script>
    /*<![CDATA[*/
    window.zEmbed || function(e, t) {
      var n, o, d, i, s, a = [],
        r = document.createElement("iframe");
      window.zEmbed = function() {
          a.push(arguments)
        }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode
        .insertBefore(r, d), i = r.contentWindow, s = i.document;
      try {
        o = s
      } catch (c) {
        n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
      }
      o.open()._l = function() {
        var o = this.createElement("script");
        n && (this.domain = n), o.id = "js-iframe-async", o.src = e, this.t = +new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o)
      }, o.write('<body onload="document._l();">'), o.close()
    }("https://assets.zendesk.com/embeddable_framework/main.js", "dealsbox.zendesk.com"); /*]]>*/
  </script>
  <!-- End of dealsbox Zendesk Widget script -->

</head>

<body id="home">

  <!-- Start Scroll to top -->
  <div class="scroll top">
    <a href="#home">
      <span class="fa fa-chevron-up"></span>
    </a>
  </div>
  <!-- End Scroll to top -->

  <!-- Start Scroll to top -->
  <div class="scroll top">
    <a href="#home">
      <span class="fa fa-chevron-up"></span>
    </a>
  </div>
  <!-- End Scroll to top -->

  <!-- Start Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <!-- Start Submenu -->
    <div class="submenu">
      <span class="ribbon"></span>
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li class="link">
            <span class="fa fa-lock"></span><a href="/register">Sign up</a> </li>
          <li class="link-btn"><a href="/login" class="btn btn-primary">Login</a> </li>
        </ul>
      </div>
    </div>
    <!-- End Submenu -->

    <!-- Start Mainmenu -->
    <div class="mainmenu">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myMenu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/images/Placeful-logo-white.png" class="logo" alt="" width="100">
            <span class="img-text">for Business</span>
          </a>
        </div>

        <!-- Navigation Menu -->
        <div class="collapse navbar-collapse" id="myMenu">
          <ul class="nav navbar-nav navbar-right">
            <!--  <li class="active"><a href="index.html">Home</a></li> -->
            <li><a href="#how">How it works</a></li>
            <li><a href="#benefits">Benefits</a></li>
            <li><a href="#why">Why DEALSBOX?</a></li>
            <!--<li><a href="contact.html">Contact Us</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <!-- End Mainmenu -->
  </nav>
  <!-- End Navigation -->

  <div class="clearfix"></div>

  <!-- Start Home -->
  <section id="AnimatedBg" class="home bg-animate">
    <div class="home-container">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="title-one">Create an offer to acquire new customers</h1>
            <h4 class="title-two">Keep 100% of your sales revenue.</h4>
            <p style="font-size:25px;">An easy way for local bars, restaurants, spa, etc. to run deals.</p>
            <a href="/register" class="btn btn-success">Start a promotion today</a>
          </div>
        </div>
      </div>
    </div>
    <div class="street"></div>
  </section>
  <!-- End Home -->

  <div class="clearfix"></div>

  <!-- Start About -->
  <section id="about">
    <div class="container">
      <!-- Start Title -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1 title-section">
          <h4 class="title">
            <span name="benefits">Benefits</span> $49.99 per month
            <br/>
            <small>You can cancel anytime.</small>
          </h4>
          <div class="line"><i class="icon icon-24 icon-profle"></i></div>
        </div>
      </div>
      <!-- End Title -->
      <!-- Start Feature One -->
      <div class="row wrap-feature-one">
        <div class="col-md-6 col-sm-6 feature-one">
          <img src="https://dealsbox.co/images/tags.png" />
          <h5 class="title">Unlimited Deals</h5>
          <p>
            Make your business the go-to place in your industry for your neighborhood by creating unlimited amount of different, fun deals everyone will look forward to!
          </p>
        </div>
        <div class="col-md-6 col-sm-6 feature-one">
          <img src="https://dealsbox.co/images/moustache.png">
          <h5 class="title">Post any type of deal</h5>
          <p>
            Whether you want to offer discounts in % or in $, you are welcome to do so on DEALSBOX. You can also advertise time-sensitive offers, like happy hour and other well defined discounts.
          </p>
        </div>
      </div>
      <!-- End Feature One -->

      <!-- Start Feature One -->
      <div class="row wrap-feature-one">
        <div class="col-md-6 col-sm-6 feature-one">
          <img src="https://dealsbox.co/images/graph_rise.png" />
          <h5 class="title">Keep 100% of your sales
          </h5>
          <p>
            When you are starting out or having a slow month, it’s tempting to pay for marketing with percentage of your sales. But the problem is that most high-quality services and products don’t have huge profit margins, so 30% or more of already discount prices
            means practically nothing at the end. With DEALSBOX, you keep 100% of your money and the small monthly fee of $49.99 usually pays for itself with the first few clients you get.
          </p>
        </div>
        <div class="col-md-6 col-sm-6 feature-one">
          <img src="https://dealsbox.co/images/layers.png">
          <h5 class="title">Free Deal Builder</h5>
          <p>
            Creating a deal using DEALSBOX deal builder is like a child’s game and may quickly become the easier and most fun part of your business. Play around with the options and the numbers, create a good description and start promoting – all within minutes.
          </p>
        </div>
      </div>
      <!-- End Feature One -->

      <!-- Start Feature One -->
      <div class="row wrap-feature-one">
        <div class="col-md-6 col-sm-6 feature-one">
          <img src="https://dealsbox.co/images/users.png">
          <h5 class="title">Free Promotion</h5>
          <p>
            It is costly to create and promote your deal yourself, but as a technology platform we take responsibility for marketing your business. To do that, we use multiple channels like our mobile app, social media and e-mail marketing. Our audience is ever-growing
            and using our service regularly – you won’t find better.
          </p>
        </div>
        <div class="col-md-6 col-sm-6 feature-one">
          <img src="https://dealsbox.co/images/bar_chart_1.png">
          <h5 class="title">Merchant Dashboard</h5>
          <p>
            Tracking results is the key to success in any marketing strategy. When you use DEALSBOX, this is easier than you can ever imagine. Compare which deals worked best for your business and catch trends that could be useful for you long-term – all with a few
            clicks.
          </p>
        </div>
      </div>
      <!-- End Feature One -->
    </div>
  </section>
  <!-- End About -->

  <div class="clearfix"></div>

  <!-- Start Description -->
  <section id="services" class="gray">
    <div class="container">
      <div class="row">
        <!-- Strat Description -->
        <div class="col-md-7 col-md-push-5 img-desc">
          <img src="/images/description.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-5 col-md-pull-7 content-desc">
          <h4 name="how">How it works</h4>
          <p>
            DEALSBOX is a mobile platform that utilizes a geo-technology to present deals to users around their neighborhood, e.g a restaurant can create a deal for a period of time to attract a certain number of new users.</p>
          <p>As a merchant you can create any type of offer to target thousands of DEALSBOX users via the mobile app, social media and email.</p>

          <ul class="list-checked">
            <li>Register, login and create a deal using the deal builder</li>
            <li>Preview and publish your deal.</li>
            <li>When you do publish, the DEALSBOX mobile app generates a coupon for your deal. </li>
            <li>No upfront payment is required from users to take advantage of your deals</li>
            <li>Customers can redeem the generated coupon at local places</li>
          </ul>
          <div class="text-left">
            <a href="#animatedModal" class="btn btn-default video" style="border:1px solid #777;background-color:transparent;color:#777;">Watch DEALSBOX app video</a>
            <a href="/register" class="btn btn-primary">Get started</a>
          </div>
        </div>
        <!-- End Description -->
      </div>
    </div>
  </section>
  <!-- End Description -->

  <div class="clearfix"></div>


  <!-- Start Features -->
  <section id="features">
    <div class="container">
      <!-- Start Title -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1 title-section">
          <h4 class="title" name="why">Why you should run your deals on DEALSBOX</h4>
          <div class="line"><i class="icon icon-24 icon-trophy"></i></div>
        </div>
      </div>
      <!-- End Title -->
      <!-- Start Features -->
      <div class="row wrap-feature-two">
        <div class="col-md-4">
          <!-- Start Feature Two Left -->
          <ul class="feature-two left">
            <li>
              <h5>Profitability</h5>
              <p>
                You have total control on the type of deal, the cost and the time to run the deal. Merchants keep 100% of their sales revenue.
              </p>
            </li>
            <li>
              <h5>Distribution</h5>
              <p>
                We advertise your deals on our networks; mobile apps, tablets, social media and emails.
              </p>
            </li>
            <li>
              <h5>Location criteria</h5>
              <p>DEALSBOX app limit deals to 5 miles of customer's location.</p>
            </li>
          </ul>
          <!-- End Feature Two Left -->
        </div>
        <div class="col-md-4">
          <img src="/images/features/man.png" class="img-responsive img-feature-two" alt="">
        </div>
        <div class="col-md-4">
          <!-- Start Feature Two Right -->
          <ul class="feature-two right">
            <li>
              <h5>Engagement</h5>
              <p>
                Our platform has a process that promotes relationship between consumer and the business e.g. sending out reminder emails to prompt repeat visits.
              </p>
            </li>
            <li>
              <h5>Full control</h5>
              <p>
                You decide when you want your deal to run, also no exclusivity, meaning you are free to run the deals you have on DEALSBOX elsewhere.
              </p>
            </li>
            <li>
              <h5>We love local business</h5>
              <p>
                We focus our efforts on local business and make it easy for businesses to create profitable deals.
              </p>
            </li>
          </ul>
          <!-- End Feature Two Right -->
        </div>
      </div>
      <!-- End Features -->
    </div>
  </section>
  <!-- End Features -->

  <div class="clearfix"></div>

  <!-- Start Call to action -->
  <div class="cta-area">
    <div class="bg-primary pattern parallax"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!-- Start Call To Action -->
          <div class="ct-action">
            <h4 class="title-one">Get started now!</h4>
            <a href="/register" class="btn btn-success">Sign up</a>
          </div>
          <!-- End Call To Action -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Call to action -->

  <div class="clearfix"></div>

  <!-- Start Footer -->
  <footer>
    <div class="sub-footer">
      2015 &copy; Copyright DEALSBOX Merchant - All right reserved
    </div>
  </footer>
  <!-- End Footer -->

  <div id="animatedModal">
    <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
    <div class="close-animatedModal"></div>

    <div class="modal-content" style="padding-top:20px;text-align:center;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/w8R5qN156TI?rel=0" frameborder="0" allowfullscreen="" id="player"></iframe>
    </div>
  </div>


  <!-- START JAVASCRIPT -->
  <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
  <!-- <script type="text/javascript" src="/js/jquery.easing-1.3.min.js"></script> -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/js/ie10-viewport-bug-workaround.js"></script>

  <!-- JavaScript animatedBg -->
  <script src="/js/animatedBg/animatedBg-setting.js"></script>

  <!-- Scrollspy -->
  <!-- <script src="/js/scrollspy/scrollspy.js"></script> -->

  <!-- Owl Script -->
  <script type="text/javascript" src="/js/owl/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/js/owl/setting.js"></script>

  <!-- masonry -->
  <!-- <script src="/js/masonry/masonry-3.1.4.js"></script>
  <script src="/js/masonry/masonry.filter.js"></script>
  <script src="/js/masonry/setting.js"></script> -->

  <!-- prettyPhoto -->
  <script src="/js/prettyPhoto/jquery.prettyPhoto.js"></script>
  <script src="/js/prettyPhoto/setting.js"></script>

  <!-- Parallax -->
  <!-- <script src="/js/parallax/jquery.parallax-1.1.3.js"></script>
  <script src="/js/parallax/setting.js"></script> -->

  <!--[if lte IE 9]>
    	<script src="js/tweecool/jquery.xdomainrequest.min.js"></script>
	<![endif]-->
  <!-- Twitter Feed -->
  <script src="/js/tweecool/tweecool.js"></script>
  <script src="/js/tweecool/setting.js"></script>

  <!-- My Script -->
  <script type="text/javascript" src="/js/custom.js"></script>
  <!-- END JAVASCRIPT -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/animatedModal.min.js"></script>
  <script>
    $(".video").animatedModal();
    $("#how").animatedModal();


    $('.close-animatedModal').click(function() {
        var video = $("#player").attr("src");
        $("#player").attr("src", "");
        $("#player").attr("src", video);
      })
      //so on jquery event or whatever call the play or stop on the video.
      //to play player.playVideo();
      //to stop player.stopVideo();
  </script>

  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-6101640-30', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- test -->
  <script type="text/javascript">
    (function() {
      window._pa = window._pa || {};
      // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
      // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
      // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
      var pa = document.createElement('script');
      pa.type = 'text/javascript';
      pa.async = true;
      pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/56967399bbf59cb713000060.js";
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(pa, s);
    })();
  </script>

</body>

</html>