<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Placeful™ for Business: Market directly to interested locals &amp; grow your business</title>

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="We present you with deals happening right now, in the neighborhood you're currently in">
    <meta name="keywords" content="best restaurants new york, las vegas restaurants, hot deals,freebies,sales,salon,voucher,amazon,clothing,massage,promotion,cheap,groupon,shopping,bars,tickets">
    <meta name="author" content="Placeful">
    <link href="https://dl.dropbox.com/s/cwg53qr2adzv3yb/iTunesArtwork%402x.png?dl=0" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="business">
    <div class="wrapper black">
        <div class="container header">
            <div class="row">
                <div class="five columns logo-section">
                    <img class="logo" src="/images/placeful-logo-white2.png" alt="local advertising" /><span class="trademark">™</span>
                </div>
                <div class="seven columns">
                    <ul class="u-pull-right">
                        <li class="business"><a>For Business</a></li>
                        <li><a href="/login">Sign in</a></li>
                        <li><a href="mailto:concierge@placeful.co">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="main-headline text-center">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h1>Market directly to your locals</h1>
                    <p>Locals demand. We provide the platform. You supply.</p>
                    <a class="button btn" href="/register">Sign up for free</a>
                </div>
            </div>
        </div>

    </div>

    <div class="container text-center intro">
        <div class="row">
            <div class="twelve columns">
                <p style="font-size:1.5em;font-style:italic;font-weight:bold">Placeful™ is the first platform for local places(bars, restaurants, spas, event venues)<br /> to create specials on-demand.</p>
            </div>
        </div>
    </div>


    <div class="container text-center">
        <div class="row">
            <div class="twelve columns how-it-works">
                <h4>How It Works</h4>
                <ul>
                    <li><span class="badge">1</span>
                        <h5>Create a special</h5>
                        <p><a href="/login">Log in</a> to the dashboard and create unlimited specials. Add text, picture, start-time, end-time, and other infomation about your special. Schedule the days you want special to run.</p>
                    </li>
                    <li><span class="badge">2</span>
                        <h5>Honor your special</h5>
                        <p>Make good on your promise when a Placeful member come in.</p>
                    </li>
                    <li><span class="badge">3</span>
                        <h5>No upfront payment</h5>
                        <p>Customers will redeem your special on their phone at your business location. No upfront payment required!</p>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="wrapper red break">
        <div class="container text-center intro">
            <div class="row">
                <div class="twelve columns">
                    <p style="padding-bottom: 0;">Reach more locals today!</p>
                    <a class="button btn btn-ghost" href="/register">Sign up for free</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container text-center intro">
        <div class="row">
            <div class="twelve columns">
                <h4>We Work With</h4>
            </div>
        </div>
        <div class="row" style="margin: 10px 0 30px 0;">
            <div class="four columns">
                <div class="inner">
                    <h5>Restaurants</h5>
                    <img src="/images/interests/food.jpg" alt="">
                </div>
            </div>
            <div class="four columns">
                <div class="inner">
                    <h5>Bars</h5>
                    <img src="/images/interests/drinks.jpg" alt="">
                </div>
            </div>
            <div class="four columns">
                <div class="inner">
                    <h5>Spas</h5>
                    <img src="/images/interests/spa.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <div class="inner">
                    <h5>Salons</h5>
                    <img src="/images/interests/beauty.jpg" alt="">
                </div>
            </div>
            <div class="four columns">
                <div class="inner">
                    <h5>Local Boutiques</h5>
                    <img src="/images/interests/boutiques.jpg" alt="">
                </div>
            </div>
            <div class="four columns">
                <div class="inner">
                    <h5>Clubs</h5>
                    <img src="/images/interests/club.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper break" style="height: 60px;">
        <div class="container text-center">
          <div class="row">
              <div class="twelve columns">
                <p style="font-size:17px;">Placeful™ bridges the gap between what locals want and what your business has to offer.<br />
                  Make it easy for interested locals to discover your business</p>
              </div>
          </div>
            <div class="row">
                <div class="twelve columns">
                    <a class="button btn btn-red" href="/register">Sign up for free</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
    <hr style="margin: 20px 0;" />
  </div>
</div>
    <div class="container footer">
      <div class="row">

          <div class="three columns u-pull-right">
            <h6>Company</h6>
            <a href="https://placeful.workable.com/jobs/241690">We are hiring!</a>
            <a href="mailto:concierge@placeful.co">Contact Us</a>
            <a href="http://placefulapp.com/terms">Terms of Use</a>
            <a href="http://placefulapp.com/privacy">Privacy Policy</a>
          </div>
          <div class="three columns u-pull-right">
            <h6>Social outreach</h6>
            <a href="https://www.facebook.com/Placeful">Facebook</a>
            <a href="https://twitter.com/placefulapp">Twitter</a>
            <a href="https://www.instagram.com/placefulapp/">Instagram</a>
            <a href="https://www.pinterest.com/placefulapp/">Pinterest</a>
          </div>


      </div>
        <div class="row">
            <div class="twelve columns">
                <p style="font-size: 12px;">&copy; 2016, Placeful™, Inc.</p>
            </div>
        </div>
    </div>

    <script>
      (function(i, s, o, g, r, a, m)
      {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function()
        {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-6101640-30', 'auto');
      ga('send', 'pageview');
    </script>


</body>

</html>
