{% extends '../layouts/merchant_default.html' %} {% block title %}{{ title }}{% endblock %} {% block content %}
<div class="login-box">
  <div class="login-logo clearfix">
    <a><b>Admin</b>LTE</a>
    <span class="for-merchant">Merchant</span>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <h4 class="login-box-msg">
      <strong>Reset Password</strong>
    </h4>
    <form action="/password_reset" method="post">
      <span class="text-danger">{{message}}</span>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <input type="password" class="form-control" placeholder="Confirm Password" name="password2" required style="margin:4px 0;top:38px;">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">

        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
        </div>
        <!-- /.col -->
      </div>
      <input type="hidden" name="token" value={{token}} />
    </form>

    <!-- /.social-auth-links -->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock %}