{% extends '../layouts/merchant_default.html' %} {% block title %}{{ title }}{% endblock %} {% block content %}
<!-- Site wrapper -->
<div class="wrapper">

  {% include '../includes/merchant_head.html' %} {% include '../includes/merchant_sidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <p class="lead" style="margin:0;">Edit Your Profile</p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-info alert-dismissable success-js" style="display: none;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h4> <i class="icon fa fa-check"></i> Your email has been updated!</h4>
            </div>
          </div>
        </div>
        <div class="box-body">
          <form method="post" action="/profile" id="updateProfileForm" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Business Name</label>
                  <input type="text" class="form-control" value="{{merchant.business_name}}" name="business_name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Business Email</label>
                  <input type="text" class="form-control" value="{{merchant.business_email}}" name="business_email" disabled="disabled">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Business Address</label>
                  <input type="text" class="form-control" value="{{merchant.business_address}}" name="business_address" disabled="disabled">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">About your business</label>
                  <textarea name="description" class="form-control">{{merchant.description}}</textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Tags for your business <small class="text-danger">(We match users to your promos using this)</small></label>
                  <input type="text" class="form-control" value="{{ tags }}" name="tags" data-role="tagsinput" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 left">
                <img id="img-uploaded" src="{{placeholder_img}}" alt="your image" />
              </div>
              <div class="right">
                <!-- <input type="text" class="img-path" placeholder="Image Path"> -->
                <span class="file-wrapper">
                  <input type="file" name="photo" id="imgInp" class="uploader" value="" />
                  <span class="btn"><u>{{ upload_text }}</u></span>
                </span>
              </div>
            </div>







            <div class="row">
              <!-- /.col -->
              <div class="col-xs-8">
                <input type="hidden" name="business_id" value={{merchant.business_id}} />
                <button type="submit" class="btn btn-success">Update Profile</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
        </div>

        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class=" main-footer ">
    <div class="pull-right hidden-xs ">
      <b>Version</b> 2.3.0
    </div>
    <strong>Copyright &copy; 2016 Placeful.</strong> All rights reserved.
  </footer>

  <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
  <div class="control-sidebar-bg "></div>
</div>
<!-- ./wrapper -->

{% endblock %}
